// $deep-blue: #32404e;
// $b01:#88a8c3;
// $b02: red;
// $b03: #085878;
//$muted-blue: #4bacd6;
////$Sencha-blue: #094158;

$Sencha: #24bcf8;

//$HKHA: #f7101d;

//$base_color: lighten($DOSarrest-orange,25%);
// $color: white;
// //$base_foreground_color: red;

//$panel-navigation-background-color: darken($base_color,25%);
//$base-app-color: darken($base_color,0%);

//$panel_header_background_color: $base-app-color;

//.x-titlebar {
//	background-color: $base-app-color !important;
//}

//http://www.0to255.com/064158
//https://www.w3schools.com/colors/colors_converter.asp
//https://codepen.io/baudoin/pen/HdliD


// $xenable-font-awesome: dynamic(true);

// $auth-background-image: dynamic(url('/resources/images/glowing-cube.jpg'));
// $auth-background-image: dynamic(url('/resources/images/starfish.jpg'));

// // Defining Colors

 //$deep-blue: #32404e;
 //
 //$dark_chocolate : #5D4446;
 //
 //$white_chocolate: #A99386;
 //$milk_chocolate :       #523027;
 //$caramel_chocolate:       #9C6D51;
 //$silver_spoons: #a79c8e;
 //$strawberry_chocolate: #f1bbba;
 //$strawberry_mousse: #EB9F9F;

// // ***** Sencha Sass Variable Below *****

// // Global Colors
//$base_color : $DOSarrest-orange;
//$base_foreground_color : $white_chocolate;
// $neutral_color : $white_chocolate;
// $body_background_color : lighten($caramel_chocolate,50%);

// // Window Colors
// $window_body_background_color : $white_chocolate;
// $window_header_background_color: $dark_chocolate;

// // Panel Colors
// $panel_body_background_color : lighten($base_color,45%);
// $panel_header_background_color: $dark_chocolate;

// // Grid Colors
// $grid-row-cell-focus-color: $strawberry_mousse;
// $grid-row-cell-selected-background-color: $strawberry_chocolate;
// $grid-row-cell-focus-background-color: lighten($strawberry_chocolate, 15%);

// // Buttons
// $button-default-base-color : $milk_chocolate;
// $button_toolbar_color : $milk_chocolate;

// // Progress Bars
// $progress_bar_background_color: $strawberry_mousse;

// // Toolbar
// $toolbar-background-color: lighten($white_chocolate,30%);

// // Tab Panel
// $tab_base_color: $milk_chocolate;
// $tab_color: lighten($white_chocolate,25%);
// $tab_font_size: 18px;

// // ***** Fonts  **********

// // Importing Google Fonts
// @import url(http://fonts.googleapis.com/css?family=Chewy);

// $chewy: 'Chewy', cursive;;
// $font-family: $chewy;
// $font-size: 14px;
// $color: $white_chocolate;

// Get color via map-get(colors, name);




$uiColors: (
  red: color('red'),
  orange: color('orange'),
  yellow: color('yellow'),
  green: color('green'),
  turquoise: color('turquoise'),
  blue: color('blue'),
  purple: color('purple')
);

@each $uiName, $uiColor in $uiColors {
  $uiFontColor: color('white');
  $uiBGColor: $uiColor;
  $uiBorderColor: lighten($uiColor, 10%);
  @if (lightness($uiColor) > 50) {
    $uiFontColor: color('black');
    $uiBGColor: darken($uiColor, 10%);
    $uiBorderColor: darken($uiColor, 10%);
  }
  @include button-ui(
    $ui: $uiName,
    $color: $uiFontColor,
    $icon-color: $uiFontColor,
    $background-color: $uiBGColor,
    $border-color: $uiBorderColor
  );
  @include splitButton-ui(
    $ui: $uiName,
    $color: $uiFontColor,
    $icon-color: $uiFontColor,
    $background-color: $uiBGColor,
    $border-color: $uiBorderColor
  );
  @include checkboxfield-ui(
    $ui: $uiName,
    $checkbox-color: $uiFontColor
  );
  @include radiofield-ui(
    $ui: $uiName,
    $checkbox-color: $uiFontColor
  );
  //@include displayfield-ui(
  //  $ui: $uiName
  //);
  //@include textfield-ui(
  //  $ui: $uiName
  //);
  //@include sliderfield-ui(
  //  $ui: $uiName
  //);
  //@include togglefield-ui(
  //  $ui: $uiName
  //);
  //@include toggleslider-ui(
  //  $ui: $uiName
  //);
  //@include field-ui(
  //  $ui: $uiName
  //);
  //@include dialog-ui(
  //  $ui: $uiName
  //);
  @include panel-ui(
    $ui: $uiName,
    $header-background-color: $uiBGColor,
    $header-border-color: $uiBorderColor,
    $body-border-color: $uiBorderColor,
    $border-color: $uiBorderColor,
    $header-color: $uiFontColor
  );
  //@include dataview-ui(
  //  $ui: $uiName
  //);
  //@include grid-ui(
  //  $ui: $uiName
  //);
  //@include menu-ui(
  //  $ui: $uiName
  //);
  //@include progress-ui(
  //  $ui: $uiName
  //);
  //@include messagebox-ui(
  //  $ui: $uiName
  //);
  //@include tabbar-ui(
  //  $ui: $uiName
  //);
  @include toolbar-ui(
    $ui: $uiName,
    $color: $uiFontColor,
    $background-color: $uiBGColor,
    $border-color: $uiBorderColor
  );
  //@include titlebar-ui(
  //  $ui: $uiName
  //);
  //@include tooltip-ui(
  //  $ui: $uiName
  //);
}
@include button-ui(
  $ui: 'rounded',
  $border-radius: 5px,
  $border-radius-big: 5px
);
@include button-ui(
  $ui: 'round',
  $border-radius: 50%,
  $border-radius-big: 50%
);
@include button-ui(
  $ui: 'normalcase',
  $text-transform: 'none',
  $text-transform-big: 'none'
);

@include panel-ui(
  $ui: 'rounded',
  $border-radius: 5px,
  $border-radius-big: 5px
);
@include panel-ui(
  $ui: 'round',
  $border-radius: 50%,
  $border-radius-big: 50%
);

.transparent-background {
  background: transparent;

  .x-body-el {
    background: transparent;
  }
}

.logo-big {
  background-image: url(/resources/shared/images/company-logo.png);
  height: 35px !important;
  width: 35px !important;
}
.logo {
  background-image: url(/resources/shared/images/company-logo.png);
}
.logo-icon {
  background-image: url(/resources/shared/images/company-logo.png);
  background-size: 16px 16px;
}

.x-button .x-text-el {
  text-transform: none;
}

.transparent-background {
  background: transparent;

  .x-body-el {
    background: transparent;
  }
}
