<!DOCTYPE HTML>
<html manifest="">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
  <link rel="shortcut icon" type="image/png" href="resources/shared/images/company-logo.png">
	<title><%= options.name %></title>
  <!--<script id="faviconx" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/faviconx/1.0.1/faviconx-min.js"></script>-->

	<script type="text/javascript">
		var Ext = Ext || {};
		Ext.beforeLoad = function (tags) {
			var s = location.search;
			var profile;
			if (s.match(/\bdesktop\b/)) { profile = 'desktop' }
			else if (s.match(/\bphone\b/)) { profile = 'phone' }
			else { profile = tags.desktop ? 'desktop' : 'phone' }
			Ext.manifest ='generatedFiles/' + profile;
		};
	</script>

	<!-- The line below must be kept intact for Sencha Cmd to build your application -->
	<script id="microloader" data-app="39aa11e4-cb6b-4425-8341-d0a3e0003148" type="text/javascript" src="generatedFiles/bootstrap.js"></script>
</head>
	<body class="launching">
		<div id="splash" style="margin-top:20%;font-family:Arial;font-size:64px;text-align:center;color:#404040;">
			<div id="theLoadingText">LOADING...</div>
			<i style="margin:20px;" class="fa fa-spinner fa-spin"></i>
		</div>
	</body>
</html>
