// //https://www.sencha.com/blog/build-a-completely-custom-ext-js-theme-in-less-than-10-minutes/
// //Defining Colors

// $white_chocolate:      #A99386;
// $milk_chocolate :      #523027;
// $caramel_chocolate:    #9C6D51;
// $dark_chocolate :      #5D4446;
// $silver_spoons:        #a79c8e;
// $strawberry_chocolate: #f1bbba;
// $strawberry_mousse:    #EB9F9F;

// // ***** Sencha Sass Variable Below *****

// // Global Colors
// $base_color : $dark_chocolate;
// $neutral_color : $white_chocolate;
// $body_background_color : lighten($caramel_chocolate,50%);

// // Window Colors
// $window_body_background_color : $white_chocolate;
// $window_header_background_color: $dark_chocolate;

// // Panel Colors
// $panel_body_background_color : lighten($white_chocolate,45%);
// $panel_header_background_color: $dark_chocolate;

// // Grid Colors
// $grid-row-cell-focus-color: $strawberry_mousse;
// $grid-row-cell-selected-background-color: $strawberry_chocolate;
// $grid-row-cell-focus-background-color: lighten($strawberry_chocolate, 15%);

// // Buttons
// $button-default-base-color : $milk_chocolate;
// $button_toolbar_color : $milk_chocolate;

// // Progress Bars
// $progress_bar_background_color: $strawberry_mousse;

// // Toolbar
// $toolbar-background-color: lighten($white_chocolate,30%);

// // Tab Panel
// $tab_base_color: $milk_chocolate;
// $tab_color: lighten($white_chocolate,25%);
// $tab_font_size: 18px;

// // ***** Fonts  **********

// // Importing Google Fonts
// @import url(http://fonts.googleapis.com/css?family=Chewy);

// $chewy: 'Chewy', cursive;
// $font-family: $chewy;
// $font-size: 14px;
// $color: $white_chocolate;

$colors: (
  abbey: #4c4f56,
  absolute-zero: #0048ba,
  acadia: #1b1404,
  acapulco: #7cb0a1,
  acid-green: #b0bf1a,
  aero: #7cb9e8,
  aero-blue: #c9ffe5,
  affair: #714693,
  african-violet: #b284be,
  air-force-blue: #00308f,
  air-superiority-blue: #72a0c1,
  akaroa: #d4c4a8,
  alabama-crimson: #af002a,
  alabaster: #fafafa,
  albescent-white: #f5e9d3,
  algae-green: #93dfb8,
  alice-blue: #f0f8ff,
  alien-armpit: #84de02,
  alizarin-crimson: #e32636,
  alloy-orange: #c46210,
  allports: #0076a3,
  almond: #efdecd,
  almond-frost: #907b71,
  alpine: #af8f2c,
  alto: #dbdbdb,
  aluminium: #a9acb6,
  amaranth: #e52b50,
  amaranth-pink: #f19cbb,
  amaranth-purple: #ab274f,
  amaranth-red: #d3212d,
  amazon: #3b7a57,
  amber: #ffbf00,
  american-rose: #ff033e,
  americano: #87756e,
  amethyst: #9966cc,
  amethyst-smoke: #a397b4,
  amour: #f9eaf3,
  amulet: #7b9f80,
  anakiwa: #9de5ff,
  android-green: #a4c639,
  anti-flash-white: #f2f3f4,
  antique-brass: #cd9575,
  antique-bronze: #665d1e,
  antique-fuchsia: #915c83,
  antique-ruby: #841b2d,
  antique-white: #faebd7,
  anzac: #e0b646,
  ao: #008000,
  apache: #dfbe6f,
  apple: #4fa83d,
  apple-blossom: #af4d43,
  apple-green: #8db600,
  apricot: #fbceb1,
  apricot-white: #fffeec,
  aqua-deep: #014b43,
  aqua-forest: #5fa777,
  aqua-haze: #edf5f5,
  aqua-island: #a1dad7,
  aqua-spring: #eaf9f5,
  aqua-squeeze: #e8f5f2,
  aquamarine: #7fffd4,
  aquamarine-blue: #71d9e2,
  arapawa: #110c6c,
  arctic-lime: #d0ff14,
  armadillo: #433e37,
  army-green: #4b5320,
  arrowtown: #948771,
  arsenic: #3b444b,
  artichoke: #8f9779,
  arylide-yellow: #e9d66b,
  ash: #c6c3b5,
  ash-grey: #b2beb5,
  asparagus: #87a96b,
  asphalt: #130a06,
  astra: #faeab9,
  astral: #327da0,
  astronaut: #283a77,
  astronaut-blue: #013e62,
  athens-gray: #eef0f3,
  aths-special: #ecebce,
  atlantis: #97cd2d,
  atoll: #0a6f75,
  au-chico: #97605d,
  aubergine: #3b0910,
  auburn: #a52a2a,
  aureolin: #fdee00,
  auro-metal-saurus: #6e7f80,
  australian-mint: #f5ffbe,
  avocado: #568203,
  axolotl: #4e6649,
  azalea: #f7c8da,
  aztec: #0d1c19,
  aztec-gold: #c39953,
  azure: #007fff,
  azure-mist: #f0ffff,
  azureish-white: #dbe9f4,
  baby-blue: #89cff0,
  baby-blue-eyes: #a1caf1,
  baby-powder: #fefefa,
  bahama-blue: #026395,
  bahia: #a5cb0c,
  baja-white: #fff8d1,
  baker-miller-pink: #ff91af,
  bali-hai: #859faf,
  ball-blue: #21abcd,
  baltic-sea: #2a2630,
  bamboo: #da6304,
  banana-mania: #fae7b5,
  banana-yellow: #ffe135,
  bandicoot: #858470,
  barberry: #ded717,
  barbie-pink: #e0218a,
  barley-corn: #a68b5b,
  barley-white: #fff4ce,
  barn-red: #7c0a02,
  barossa: #44012d,
  bastille: #292130,
  battleship-gray: #828f72,
  bay-leaf: #7da98d,
  bay-of-many: #273a81,
  bazaar: #98777b,
  bdazzled-blue: #2e5894,
  beau-blue: #bcd4e6,
  beauty-bush: #eec1be,
  beaver: #9f8170,
  beeswax: #fef2c7,
  beige: #f5f5dc,
  belgion: #add8ff,
  bermuda: #7dd8c6,
  bermuda-gray: #6b8ba2,
  beryl-green: #dee5c0,
  bianca: #fcfbf3,
  big-dip-oruby: #9c2542,
  big-foot-feet: #e88e5a,
  big-stone: #162a40,
  bilbao: #327c14,
  biloba-flower: #b2a1ea,
  birch: #373021,
  bird-flower: #d4cd16,
  biscay: #1b3162,
  bismark: #497183,
  bison-hide: #c1b7a4,
  bisque: #ffe4c4,
  bistre: #3d2b1f,
  bitter: #868974,
  bitter-lemon: #cae00d,
  bittersweet: #fe6f5e,
  bittersweet-shimmer: #bf4f51,
  bizarre: #eededa,
  black: #000000,
  black-bean: #3d0c02,
  black-coral: #54626f,
  black-forest: #0b1304,
  black-haze: #f6f7f7,
  black-leather-jacket: #253529,
  black-marlin: #3e2c1c,
  black-olive: #3b3c36,
  black-pearl: #041322,
  black-rock: #0d0332,
  black-rose: #67032d,
  black-russian: #0a001c,
  black-shadows: #bfafb2,
  black-squeeze: #f2fafa,
  black-white: #fffef6,
  blackberry: #4d0135,
  blackcurrant: #32293a,
  blanched-almond: #ffebcd,
  blast-off-bronze: #a57164,
  blaze-orange: #ff6700,
  bleach-white: #fef3d8,
  bleached-cedar: #2c2133,
  bleu-de-france: #318ce7,
  blizzard-blue: #a3e3ed,
  blond: #faf0be,
  blossom: #dcb4bc,
  blue: #0000ff,
  blue-bayoux: #496679,
  blue-bell: #a2a2d0,
  blue-chalk: #f1e9ff,
  blue-charcoal: #010d1a,
  blue-chill: #0c8990,
  blue-diamond: #380474,
  blue-dianne: #204852,
  blue-gem: #2c0e8c,
  blue-gray: #6699cc,
  blue-green: #0d98ba,
  blue-haze: #bfbed8,
  blue-jeans: #5dadec,
  blue-lagoon: #ace5ee,
  blue-magenta-violet: #553592,
  blue-marguerite: #7666c6,
  blue-ribbon: #0066ff,
  blue-romance: #d2f6de,
  blue-sapphire: #126180,
  blue-smoke: #748881,
  blue-stone: #016162,
  blue-violet: #8a2be2,
  blue-whale: #042e4c,
  blue-yonder: #5072a7,
  blue-zodiac: #13264d,
  blueberry: #4f86f7,
  bluebonnet: #1c1cf0,
  blumine: #18587a,
  blush: #de5d83,
  bole: #79443b,
  bombay: #afb1b8,
  bon-jour: #e5e0e1,
  bondi-blue: #0095b6,
  bone: #e3dac9,
  booger-buster: #dde26a,
  bordeaux: #5c0120,
  bossanova: #4e2a5a,
  boston-blue: #3b91b4,
  boston-university-red: #cc0000,
  botticelli: #c7dde5,
  bottle-green: #006a4e,
  boulder: #7a7a7a,
  bouquet: #ae809e,
  bourbon: #ba6f1e,
  boysenberry: #873260,
  bracken: #4a2a04,
  brandeis-blue: #0070ff,
  brandy: #dec196,
  brandy-punch: #cd8429,
  brandy-rose: #bb8983,
  brass: #b5a642,
  breaker-bay: #5da19f,
  brick-red: #cb4154,
  bridal-heath: #fffaf4,
  bridesmaid: #fef0ec,
  bright-cerulean: #1dacd6,
  bright-gray: #3c4151,
  bright-green: #66ff00,
  bright-lavender: #bf94e4,
  bright-lilac: #d891ef,
  bright-maroon: #c32148,
  bright-navy-blue: #1974d2,
  bright-red: #b10000,
  bright-sun: #fed33c,
  bright-turquoise: #08e8de,
  bright-ube: #d19fe8,
  bright-yellow: #ffaa1d,
  brilliant-azure: #3399ff,
  brilliant-lavender: #f4bbff,
  brilliant-rose: #ff55a3,
  brink-pink: #fb607f,
  british-racing-green: #004225,
  bronco: #aba196,
  bronze: #cd7f32,
  bronze-olive: #4e420c,
  bronze-yellow: #737000,
  bronzetone: #4d400f,
  broom: #ffec13,
  brown: #964b00,
  brown-bramble: #592804,
  brown-derby: #492615,
  brown-pod: #401801,
  brown-rust: #af593e,
  brown-sugar: #af6e4d,
  brown-tumbleweed: #37290e,
  brown-yellow: #cc9966,
  brunswick-green: #1b4d3e,
  bubble-gum: #ffc1cc,
  bubbles: #e7feff,
  buccaneer: #622f30,
  bud: #a8ae9c,
  bud-green: #7bb661,
  buddha-gold: #c1a004,
  buff: #f0dc82,
  bulgarian-rose: #480607,
  bull-shot: #864d1e,
  bunker: #0d1117,
  bunting: #151f4c,
  burgundy: #800020,
  burlywood: #deb887,
  burnham: #002e20,
  burning-orange: #ff7034,
  burning-sand: #d99376,
  burnished-brown: #a17a74,
  burnt-maroon: #420303,
  burnt-orange: #cc5500,
  burnt-sienna: #e97451,
  burnt-umber: #8a3324,
  bush: #0d2e1c,
  buttercup: #f3ad16,
  buttered-rum: #a1750d,
  butterfly-bush: #624e9a,
  buttermilk: #fff1b5,
  buttery-white: #fffcea,
  byzantine: #bd33a4,
  byzantium: #702963,
  cg-blue: #007aa5,
  cg-red: #e03c31,
  cab-sav: #4d0a18,
  cabaret: #d94972,
  cabbage-pont: #3f4c3a,
  cactus: #587156,
  cadet: #536872,
  cadet-blue: #5f9ea0,
  cadet-grey: #91a3b0,
  cadillac: #b04c6a,
  cadmium-green: #006b3c,
  cadmium-orange: #ed872d,
  cadmium-red: #e30022,
  cadmium-yellow: #fff600,
  cafe-noir: #4b3621,
  cafe-royale: #6f440c,
  cal-poly-green: #1e4d2b,
  calico: #e0c095,
  california: #fe9d04,
  calypso: #31728d,
  camarone: #00581a,
  cambridge-blue: #a3c1ad,
  camelot: #893456,
  cameo: #d9b99b,
  cameo-pink: #efbbcc,
  camouflage: #3c3910,
  camouflage-green: #78866b,
  can-can: #d591a4,
  canary: #f3fb62,
  canary-yellow: #ffef00,
  candlelight: #fcd917,
  candy-apple-red: #ff0800,
  cannon-black: #251706,
  cannon-pink: #894367,
  cape-cod: #3c4443,
  cape-honey: #fee5ac,
  cape-palliser: #a26645,
  caper: #dcedb4,
  capri: #00bfff,
  caput-mortuum: #592720,
  caramel: #ffddaf,
  cararra: #eeeee8,
  cardin-green: #01361c,
  cardinal: #c41e3a,
  cardinal-pink: #8c055e,
  careys-pink: #d29eaa,
  caribbean-green: #00cc99,
  carissma: #ea88a8,
  carla: #f3ffd8,
  carmine: #960018,
  carmine-pink: #eb4c42,
  carmine-red: #ff0038,
  carnaby-tan: #5c2e01,
  carnation: #f95a61,
  carnation-pink: #ffa6c9,
  carnelian: #b31b1b,
  carolina-blue: #56a0d3,
  carousel-pink: #f9e0ed,
  carrot-orange: #ed9121,
  casablanca: #f8b853,
  casal: #2f6168,
  cascade: #8ba9a5,
  cashmere: #e6bea5,
  casper: #adbed1,
  castleton-green: #00563b,
  castro: #52001f,
  catalina-blue: #062a78,
  catawba: #703642,
  catskill-white: #eef6f7,
  cavern-pink: #e3bebe,
  cedar: #3e1c14,
  cedar-chest: #c95a49,
  cedar-wood-finish: #711a00,
  ceil: #92a1cf,
  celadon: #ace1af,
  celadon-green: #2f847c,
  celery: #b8c25d,
  celeste: #b2ffff,
  celestial-blue: #4997d0,
  cello: #1e385b,
  celtic: #163222,
  cement: #8d7662,
  ceramic: #fcfff9,
  cerise: #de3163,
  cerise-pink: #ec3b83,
  cerulean: #007ba7,
  cerulean-blue: #2a52be,
  cerulean-frost: #6d9bc3,
  chablis: #fff4f3,
  chalet-green: #516e3d,
  chalky: #eed794,
  chambray: #354e8c,
  chamois: #eddcb1,
  chamoisee: #a0785a,
  champagne: #f7e7ce,
  chantilly: #f8c3df,
  charade: #292937,
  charcoal: #36454f,
  chardon: #fff3f1,
  chardonnay: #ffcd8c,
  charleston-green: #232b2b,
  charlotte: #baeef9,
  charm: #d47494,
  charm-pink: #e68fac,
  chartreuse: #dfff00,
  chateau-green: #40a860,
  chatelle: #bdb3c7,
  chathams-blue: #175579,
  chelsea-cucumber: #83aa5d,
  chelsea-gem: #9e5302,
  chenin: #dfcd6f,
  cherokee: #fcda98,
  cherry-blossom-pink: #ffb7c5,
  cherry-pie: #2a0359,
  cherrywood: #651a14,
  cherub: #f8d9e9,
  chestnut: #954535,
  chetwode-blue: #8581d9,
  chicago: #5d5c58,
  chiffon: #f1ffc8,
  chilean-fire: #f77703,
  chilean-heath: #fffde6,
  china-ivory: #fcffe7,
  china-rose: #a8516e,
  chinese-red: #aa381e,
  chinese-violet: #856088,
  chino: #cec7a7,
  chinook: #a8e3bd,
  chlorophyll-green: #4aff00,
  chocolate: #7b3f00,
  christalle: #33036b,
  christi: #67a712,
  christine: #e7730a,
  chrome-white: #e8f1d4,
  chrome-yellow: #ffa700,
  cinder: #0e0e18,
  cinderella: #fde1dc,
  cinereous: #98817b,
  cinnabar: #e34234,
  cinnamon-satin: #cd607e,
  cioccolato: #55280c,
  citrine: #e4d00a,
  citrine-white: #faf7d6,
  citron: #9fa91f,
  citrus: #a1c50a,
  clairvoyant: #480656,
  clam-shell: #d4b6af,
  claret: #7f1734,
  classic-rose: #fbcce7,
  clay-ash: #bdc8b3,
  clay-creek: #8a8360,
  clear-day: #e9fffd,
  clementine: #e96e00,
  clinker: #371d09,
  cloud: #c7c4bf,
  cloud-burst: #202e54,
  cloudy: #aca59f,
  clover: #384910,
  cobalt-blue: #0047ab,
  cocoa-bean: #481c1c,
  cocoa-brown: #d2691e,
  coconut: #965a3e,
  coconut-cream: #f8f7dc,
  cod-gray: #0b0b0b,
  coffee: #6f4e37,
  coffee-bean: #2a140e,
  cognac: #9f381d,
  cola: #3f2500,
  cold-purple: #aba0d9,
  cold-turkey: #cebaba,
  colonial-white: #ffedbc,
  columbia-blue: #c4d8e2,
  comet: #5c5d75,
  como: #517c66,
  conch: #c9d9d2,
  concord: #7c7b7a,
  concrete: #f2f2f2,
  confetti: #e9d75a,
  congo-brown: #593737,
  congo-pink: #f88379,
  congress-blue: #02478e,
  conifer: #acdd4d,
  contessa: #c6726b,
  cool-black: #002e63,
  cool-grey: #8c92ac,
  copper: #b87333,
  copper-canyon: #7e3a15,
  copper-penny: #ad6f69,
  copper-red: #cb6d51,
  copper-rose: #996666,
  copper-rust: #944747,
  coquelicot: #ff3800,
  coral: #ff7f50,
  coral-red: #ff4040,
  coral-reef: #c7bca2,
  coral-tree: #a86b6b,
  cordovan: #893f45,
  corduroy: #606e68,
  coriander: #c4d0b0,
  cork: #40291d,
  corn: #e7bf05,
  corn-field: #f8facd,
  corn-harvest: #8b6b0b,
  cornflower-blue: #6495ed,
  cornflower-lilac: #ffb0ac,
  cornsilk: #fff8dc,
  corvette: #fad3a2,
  cosmic: #76395d,
  cosmic-cobalt: #2e2d88,
  cosmic-latte: #fff8e7,
  cosmos: #ffd8d9,
  costa-del-sol: #615d30,
  cotton-candy: #ffbcd9,
  cotton-seed: #c2bdb6,
  county-green: #01371a,
  cowboy: #4d282d,
  coyote-brown: #81613e,
  crail: #b95140,
  cranberry: #db5079,
  crater-brown: #462425,
  crayola-blue: #1f75fe,
  crayola-green: #1cac78,
  crayola-orange: #ff7538,
  crayola-red: #ee204d,
  crayola-yellow: #fce883,
  cream: #fffdd0,
  cream-brulee: #ffe5a0,
  cream-can: #f5c85c,
  creole: #1e0f04,
  crete: #737829,
  crimson: #dc143c,
  crimson-glory: #be0032,
  crimson-red: #990000,
  crocodile: #736d58,
  crown-of-thorns: #771f1f,
  crowshead: #1c1208,
  cruise: #b5ecdf,
  crusoe: #004816,
  crusta: #fd7b33,
  cumin: #924321,
  cumulus: #fdffd5,
  cupid: #fbbeda,
  curious-blue: #2596d1,
  cutty-sark: #507672,
  cyan: #00ffff,
  cyan-azure: #4e82b4,
  cyan-blue-azure: #4682bf,
  cyan-cobalt-blue: #28589c,
  cyan-cornflower-blue: #188bc2,
  cyber-grape: #58427c,
  cyber-yellow: #ffd300,
  cyclamen: #f56fa1,
  cyprus: #003e40,
  daffodil: #ffff31,
  daintree: #012731,
  dairy-cream: #f9e4bc,
  daisy-bush: #4f2398,
  dallas: #6e4b26,
  dandelion: #f0e130,
  danube: #6093d1,
  dark-blue: #00008b,
  dark-blue-gray: #666699,
  dark-brown: #654321,
  dark-brown-tangelo: #88654e,
  dark-burgundy: #770f05,
  dark-byzantium: #5d3954,
  dark-candy-apple-red: #a40000,
  dark-cerulean: #08457e,
  dark-chestnut: #986960,
  dark-coral: #cd5b45,
  dark-cyan: #008b8b,
  dark-ebony: #3c2005,
  dark-fern: #0a480d,
  dark-goldenrod: #b8860b,
  dark-green: #013220,
  dark-gunmetal: #1f262a,
  dark-imperial-blue: #6e6ef9,
  dark-jungle-green: #1a2421,
  dark-khaki: #bdb76b,
  dark-lavender: #734f96,
  dark-liver: #534b4f,
  dark-magenta: #8b008b,
  dark-medium-gray: #a9a9a9,
  dark-midnight-blue: #003366,
  dark-moss-green: #4a5d23,
  dark-olive-green: #556b2f,
  dark-orange: #ff8c00,
  dark-orchid: #9932cc,
  dark-pastel-blue: #779ecb,
  dark-pastel-green: #03c03c,
  dark-pastel-purple: #966fd6,
  dark-pastel-red: #c23b22,
  dark-pink: #e75480,
  dark-puce: #4f3a3c,
  dark-purple: #301934,
  dark-raspberry: #872657,
  dark-red: #8b0000,
  dark-salmon: #e9967a,
  dark-scarlet: #560319,
  dark-sea-green: #8fbc8f,
  dark-sienna: #3c1414,
  dark-sky-blue: #8cbed6,
  dark-slate-blue: #483d8b,
  dark-slate-gray: #2f4f4f,
  dark-spring-green: #177245,
  dark-tan: #918151,
  dark-tangerine: #ffa812,
  dark-terra-cotta: #cc4e5c,
  dark-turquoise: #00ced1,
  dark-vanilla: #d1bea8,
  dark-violet: #9400d3,
  dark-yellow: #9b870c,
  dartmouth-green: #00703c,
  davys-grey: #555555,
  dawn: #a6a29a,
  dawn-pink: #f3e9e5,
  de-york: #7ac488,
  debian-red: #d70a53,
  deco: #d2da97,
  deep-blue: #220878,
  deep-blush: #e47698,
  deep-bronze: #4a3004,
  deep-carmine: #a9203e,
  deep-carmine-pink: #ef3038,
  deep-carrot-orange: #e9692c,
  deep-cerise: #da3287,
  deep-chestnut: #b94e48,
  deep-cove: #051040,
  deep-fir: #002900,
  deep-forest-green: #182d09,
  deep-fuchsia: #c154c1,
  deep-green: #056608,
  deep-green-cyan-turquoise: #0e7c61,
  deep-jungle-green: #004b49,
  deep-koamaru: #333366,
  deep-lemon: #f5c71a,
  deep-lilac: #9955bb,
  deep-magenta: #cc00cc,
  deep-maroon: #820000,
  deep-oak: #412010,
  deep-pink: #ff1493,
  deep-puce: #a95c68,
  deep-red: #850101,
  deep-ruby: #843f5b,
  deep-saffron: #ff9933,
  deep-sapphire: #082567,
  deep-sea: #01826b,
  deep-sea-green: #095859,
  deep-space-sparkle: #4a646c,
  deep-taupe: #7e5e60,
  deep-teal: #003532,
  deep-tuscan-red: #66424d,
  deep-violet: #330066,
  deer: #ba8759,
  del-rio: #b09a95,
  dell: #396413,
  delta: #a4a49d,
  deluge: #7563a8,
  denim: #1560bd,
  denim-blue: #2243b6,
  derby: #ffeed8,
  desaturated-cyan: #669999,
  desert: #ae6020,
  desert-sand: #edc9af,
  desert-storm: #f8f8f7,
  desire: #ea3c53,
  dew: #eafffe,
  di-serria: #db995e,
  diamond: #b9f2ff,
  diesel: #130000,
  dim-gray: #696969,
  dingley: #5d7747,
  dingy-dungeon: #c53151,
  dirt: #9b7653,
  disco: #871550,
  dixie: #e29418,
  dodger-blue: #1e90ff,
  dogs: #b86d29,
  dogwood-rose: #d71868,
  dollar-bill: #85bb65,
  dolly: #f9ff8b,
  dolphin: #646077,
  domino: #8e775e,
  don-juan: #5d4c51,
  donkey-brown: #664c28,
  dorado: #6b5755,
  double-colonial-white: #eee3ad,
  double-pearl-lusta: #fcf4d0,
  double-spanish-white: #e6d7b9,
  dove-gray: #6d6c6c,
  downriver: #092256,
  downy: #6fd0c5,
  driftwood: #af8751,
  drover: #fdf7ad,
  duke-blue: #00009c,
  dull-lavender: #a899e6,
  dune: #383533,
  dust-storm: #e5ccc9,
  dusty-gray: #a8989b,
  dutch-white: #efdfbb,
  eagle: #b6baa4,
  eagle-green: #004953,
  earls-green: #c9b93b,
  early-dawn: #fff9e6,
  earth-yellow: #e1a95f,
  east-bay: #414c7d,
  east-side: #ac91ce,
  eastern-blue: #1e9ab0,
  ebb: #e9e3e3,
  ebony: #555d50,
  ebony-clay: #26283b,
  eclipse: #311c17,
  ecru: #c2b280,
  ecru-white: #f5f3e5,
  ecstasy: #fa7814,
  eden: #105852,
  edgewater: #c8e3d7,
  edward: #a2aeab,
  eerie-black: #1b1b1b,
  egg-sour: #fff4dd,
  egg-white: #ffefc1,
  eggplant: #614051,
  eggshell: #f0ead6,
  egyptian-blue: #1034a6,
  el-paso: #1e1708,
  el-salva: #8f3e33,
  electric-blue: #7df9ff,
  electric-crimson: #ff003f,
  electric-indigo: #6f00ff,
  electric-lime: #ccff00,
  electric-purple: #bf00ff,
  electric-violet: #8b00ff,
  electric-yellow: #ffff33,
  elephant: #123447,
  elf-green: #088370,
  elm: #1c7c7d,
  emerald: #50c878,
  eminence: #6c3082,
  emperor: #514649,
  empress: #817377,
  endeavour: #0056a7,
  energy-yellow: #f8dd5c,
  engineering-international-orange: #ba160c,
  english-holly: #022d15,
  english-lavender: #b48395,
  english-red: #ab4b52,
  english-vermillion: #cc474b,
  english-walnut: #3e2b23,
  envy: #8ba690,
  equator: #e1bc64,
  espresso: #612718,
  eternity: #211a0e,
  eton-blue: #96c8a2,
  eucalyptus: #44d7a8,
  eunry: #cfa39d,
  evening-sea: #024e46,
  everglade: #1c402e,
  fogra-29-rich-black: #010b13,
  fogra-39-rich-black: #010203,
  faded-jade: #427977,
  fair-pink: #ffefec,
  falcon: #7f626d,
  fallow: #c19a6b,
  falu-red: #801818,
  fandango: #b53389,
  fandango-pink: #de5285,
  fantasy: #faf3f0,
  fashion-fuchsia: #f400a1,
  fawn: #e5aa70,
  fedora: #796a78,
  feijoa: #9fdd8c,
  feldgrau: #4d5d53,
  fern: #63b76c,
  fern-frond: #657220,
  fern-green: #4f7942,
  ferra: #704f50,
  ferrari-red: #ff2800,
  festival: #fbe96c,
  feta: #f0fcea,
  field-drab: #6c541e,
  fiery-orange: #b35213,
  fiery-rose: #ff5470,
  finch: #626649,
  finlandia: #556d56,
  finn: #692d54,
  fiord: #405169,
  fire: #aa4203,
  fire-bush: #e89928,
  fire-engine-red: #ce2029,
  firebrick: #b22222,
  firefly: #0e2a30,
  flame: #e25822,
  flame-pea: #da5b38,
  flamenco: #ff7d07,
  flamingo: #f2552a,
  flamingo-pink: #fc8eac,
  flavescent: #f7e98e,
  flax: #eedc82,
  flax-smoke: #7b8265,
  flint: #6f6a61,
  flirt: #a2006d,
  floral-white: #fffaf0,
  flush-mahogany: #ca3435,
  foam: #d8fcfa,
  fog: #d7d0ff,
  foggy-gray: #cbcab6,
  folly: #ff004f,
  forest-green: #228b22,
  forget-me-not: #fff1ee,
  fountain-blue: #56b4be,
  frangipani: #ffdeb3,
  french-bistre: #856d4d,
  french-blue: #0072bb,
  french-fuchsia: #fd3f92,
  french-gray: #bdbdc6,
  french-lilac: #86608e,
  french-lime: #9efd38,
  french-mauve: #d473d4,
  french-pass: #bdedfd,
  french-pink: #fd6c9e,
  french-plum: #811453,
  french-puce: #4e1609,
  french-raspberry: #c72c48,
  french-rose: #f64a8a,
  french-sky-blue: #77b5fe,
  french-violet: #8806ce,
  french-wine: #ac1e44,
  fresh-air: #a6e7ff,
  fresh-eggplant: #990066,
  friar-gray: #807e79,
  fringy-flower: #b1e2c1,
  froly: #f57584,
  frost: #edf5dd,
  frostbite: #e936a7,
  frosted-mint: #dbfff8,
  frostee: #e4f6e7,
  fruit-salad: #4f9d5d,
  fuchsia: #ff00ff,
  fuchsia-blue: #7a58c1,
  fuchsia-pink: #ff77ff,
  fuchsia-purple: #cc397b,
  fuchsia-rose: #c74375,
  fuego: #bede0d,
  fuel-yellow: #eca927,
  fulvous: #e48400,
  fun-blue: #1959a8,
  fun-green: #016d39,
  fuscous-gray: #54534d,
  fuzzy-wuzzy: #cc6666,
  fuzzy-wuzzy-brown: #c45655,
  go-green: #00ab66,
  gable-green: #163531,
  gainsboro: #dcdcdc,
  gallery: #efefef,
  galliano: #dcb20c,
  gamboge: #e49b0f,
  gamboge-orange: #996600,
  gargoyle-gas: #ffdf46,
  geebung: #d18f1b,
  generic-viridian: #007f66,
  genoa: #15736b,
  geraldine: #fb8989,
  geyser: #d4dfe2,
  ghost: #c7c9d5,
  ghost-white: #f8f8ff,
  giants-club: #b05c52,
  giants-orange: #fe5a1d,
  gigas: #523c94,
  gimblet: #b8b56a,
  gin: #e8f2eb,
  gin-fizz: #fff9e2,
  ginger: #b06500,
  givry: #f8e4bf,
  glacier: #80b3c4,
  glade-green: #61845f,
  glaucous: #6082b6,
  glitter: #e6e8fa,
  glossy-grape: #ab92b3,
  go-ben: #726d4e,
  goblin: #3d7d52,
  gold-drop: #f18200,
  gold-fusion: #85754e,
  gold-tips: #deba13,
  golden: #ffd700,
  golden-bell: #e28913,
  golden-brown: #996515,
  golden-dream: #f0d52d,
  golden-fizz: #f5fb3d,
  golden-gate-bridge: #c0362c,
  golden-glow: #fde295,
  golden-poppy: #fcc200,
  golden-sand: #f0db7d,
  golden-tainoi: #ffcc5c,
  golden-yellow: #ffdf00,
  goldenrod: #daa520,
  gondola: #261414,
  gordons-green: #0b1107,
  gorse: #fff14f,
  gossamer: #069b81,
  gossip: #d2f8b0,
  gothic: #6d92a1,
  governor-bay: #2f3cb3,
  grain-brown: #e4d5b7,
  grandis: #ffd38c,
  granite-gray: #676767,
  granite-green: #8d8974,
  granny-apple: #d5f6e3,
  granny-smith: #84a0a0,
  granny-smith-apple: #a8e4a0,
  grape: #6f2da8,
  graphite: #251607,
  gravel: #4a444b,
  gray: #808080,
  gray-asparagus: #465945,
  gray-chateau: #a2aab3,
  gray-nickel: #c3c3bd,
  gray-nurse: #e7ece6,
  gray-olive: #a9a491,
  gray-suit: #c1becd,
  green: #00ff00,
  green-blue: #1164b4,
  green-cyan: #009966,
  green-haze: #01a368,
  green-house: #24500f,
  green-kelp: #25311c,
  green-leaf: #436a0d,
  green-lizard: #a7f432,
  green-mist: #cbd3b0,
  green-pea: #1d6142,
  green-sheen: #6eaea1,
  green-smoke: #a4af6e,
  green-spring: #b8c1b1,
  green-vogue: #032b52,
  green-waterloo: #101405,
  green-white: #e8ebe0,
  green-yellow: #adff2f,
  grenadier: #d54600,
  grizzly: #885818,
  grullo: #a99a86,
  guardsman-red: #ba0101,
  gulf-blue: #051657,
  gulf-stream: #80b3ae,
  gull-gray: #9dacb7,
  gum-leaf: #b6d3bf,
  gumbo: #7ca1a6,
  gun-powder: #414257,
  gunmetal: #2a3439,
  gunsmoke: #828685,
  gurkha: #9a9577,
  hacienda: #98811b,
  hairy-heath: #6b2a14,
  haiti: #1b1035,
  halaya-ube: #663854,
  half-baked: #85c4cc,
  half-colonial-white: #fdf6d3,
  half-dutch-white: #fef7de,
  half-spanish-white: #fef4db,
  half-and-half: #fffee1,
  hampton: #e5d8af,
  han-blue: #446ccf,
  han-purple: #5218fa,
  harlequin: #3fff00,
  harlequin-green: #46cb18,
  harp: #e6f2ea,
  harvard-crimson: #c90016,
  harvest-gold: #da9100,
  havelock-blue: #5590d9,
  hawaiian-tan: #9d5616,
  hawkes-blue: #d4e2fc,
  heat-wave: #ff7a00,
  heath: #541012,
  heather: #b7c3d0,
  heathered-gray: #b6b095,
  heavy-metal: #2b3228,
  heliotrope: #df73ff,
  heliotrope-gray: #aa98a9,
  heliotrope-magenta: #aa00bb,
  hemlock: #5e5d3b,
  hemp: #907874,
  hibiscus: #b6316c,
  highland: #6f8e63,
  hillary: #aca586,
  himalaya: #6a5d1b,
  hint-of-green: #e6ffe9,
  hint-of-red: #fbf9f9,
  hint-of-yellow: #fafde4,
  hippie-blue: #589aaf,
  hippie-green: #53824b,
  hippie-pink: #ae4560,
  hit-gray: #a1adb5,
  hit-pink: #ffab81,
  hokey-pokey: #c8a528,
  hoki: #65869f,
  holly: #011d13,
  honey-flower: #4f1c70,
  honeydew: #f0fff0,
  honeysuckle: #edfc84,
  honolulu-blue: #006db0,
  hookers-green: #49796b,
  hopbush: #d06da1,
  horizon: #5a87a0,
  horses: #543d37,
  horses-neck: #604913,
  hot-magenta: #ff1dce,
  hot-pink: #ff69b4,
  hot-toddy: #b38007,
  humming-bird: #cff9f3,
  hunter-green: #355e3b,
  hurricane: #877c7b,
  husk: #b7a458,
  ice-cold: #b1f4e7,
  iceberg: #71a6d2,
  icterine: #fcf75e,
  illuminating-emerald: #319177,
  illusion: #f6a4c9,
  imperial: #602f6b,
  imperial-blue: #002395,
  imperial-red: #ed2939,
  inch-worm: #b0e313,
  inchworm: #b2ec5d,
  independence: #4c516d,
  india-green: #138808,
  indian-red: #cd5c5c,
  indian-tan: #4d1e01,
  indian-yellow: #e3a857,
  indigo: #4b0082,
  indigo-dye: #091f92,
  indochine: #c26b03,
  international-klein-blue: #002fa7,
  international-orange: #ff4f00,
  iris: #5a4fcf,
  irish-coffee: #5f3d26,
  iroko: #433120,
  iron: #d4d7d9,
  ironside-gray: #676662,
  ironstone: #86483c,
  irresistible: #b3446c,
  isabelline: #f4f0ec,
  islamic-green: #009000,
  island-spice: #fffcee,
  ivory: #fffff0,
  jacaranda: #2e0329,
  jacarta: #3a2a6a,
  jacko-bean: #2e1905,
  jacksons-purple: #20208d,
  jade: #00a86b,
  jaffa: #ef863f,
  jagged-ice: #c2e8e5,
  jagger: #350e57,
  jaguar: #080110,
  jambalaya: #5b3013,
  janna: #f4ebd3,
  japanese-carmine: #9d2933,
  japanese-indigo: #264348,
  japanese-laurel: #0a6906,
  japanese-maple: #780109,
  japanese-violet: #5b3256,
  japonica: #d87c63,
  jasmine: #f8de7e,
  jasper: #d73b3e,
  java: #1fc2c2,
  jazzberry-jam: #a50b5e,
  jelly-bean: #da614e,
  jet: #343434,
  jet-stream: #b5d2ce,
  jewel: #126b40,
  jon: #3b1f1f,
  jonquil: #f4ca16,
  jordy-blue: #8ab9f1,
  judge-gray: #544333,
  jumbo: #7c7b82,
  june-bud: #bdda57,
  jungle-green: #29ab87,
  jungle-mist: #b4cfd3,
  juniper: #6d9292,
  just-right: #eccdb9,
  ku-crimson: #e8000d,
  kabul: #5e483e,
  kaitoke-green: #004620,
  kangaroo: #c6c8bd,
  karaka: #1e1609,
  karry: #ffead4,
  kashmir-blue: #507096,
  kelly-green: #4cbb17,
  kelp: #454936,
  kenyan-copper: #7c1c05,
  keppel: #3ab09e,
  key-lime: #e8f48c,
  key-lime-pie: #bfc921,
  khaki: #c3b091,
  kidnapper: #e1ead4,
  kilamanjaro: #240c02,
  killarney: #3a6a47,
  kimberly: #736c9f,
  kingfisher-daisy: #3e0480,
  kobi: #e79fc4,
  kobicha: #6b4423,
  kokoda: #6e6d57,
  kombu-green: #354230,
  korma: #8f4b0e,
  koromiko: #ffbd5f,
  kournikova: #ffe772,
  kumera: #886221,
  la-palma: #368716,
  la-rioja: #b3c110,
  la-salle-green: #087830,
  languid-lavender: #d6cadd,
  lapis-lazuli: #26619c,
  las-palmas: #c6e610,
  laser: #c8b568,
  laurel: #749378,
  laurel-green: #a9ba9d,
  lava: #cf1020,
  lavender: #b57edc,
  lavender-blush: #fff0f5,
  lavender-gray: #c4c3d0,
  lavender-indigo: #9457eb,
  lavender-magenta: #ee82ee,
  lavender-mist: #e6e6fa,
  lavender-pink: #fbaed2,
  lavender-purple: #967bb6,
  lavender-rose: #fba0e3,
  lawn-green: #7cfc00,
  leather: #967059,
  lemon: #fff700,
  lemon-chiffon: #fffacd,
  lemon-curry: #cca01d,
  lemon-ginger: #ac9e22,
  lemon-glacier: #fdff00,
  lemon-grass: #9b9e8f,
  lemon-lime: #e3ff00,
  lemon-meringue: #f6eabe,
  lemon-yellow: #fff44f,
  lenurple: #ba93d8,
  liberty: #545aa7,
  licorice: #1a1110,
  light-apricot: #fdd5b1,
  light-blue: #add8e6,
  light-brilliant-red: #fe2e2e,
  light-brown: #b5651d,
  light-carmine-pink: #e66771,
  light-cobalt-blue: #88ace0,
  light-coral: #f08080,
  light-cornflower-blue: #93ccea,
  light-crimson: #f56991,
  light-cyan: #e0ffff,
  light-deep-pink: #ff5ccd,
  light-french-beige: #c8ad7f,
  light-fuchsia-pink: #f984ef,
  light-goldenrod-yellow: #fafad2,
  light-gray: #d3d3d3,
  light-grayish-magenta: #cc99cc,
  light-green: #90ee90,
  light-hot-pink: #ffb3de,
  light-khaki: #f0e68c,
  light-medium-orchid: #d39bcb,
  light-moss-green: #addfad,
  light-orchid: #e6a8d7,
  light-pastel-purple: #b19cd9,
  light-pink: #ffb6c1,
  light-salmon: #ffa07a,
  light-salmon-pink: #ff9999,
  light-sea-green: #20b2aa,
  light-sky-blue: #87cefa,
  light-slate-gray: #778899,
  light-steel-blue: #b0c4de,
  light-taupe: #b38b6d,
  light-turquoise: #afeeee,
  light-yellow: #ffffe0,
  lightning-yellow: #fcc01e,
  lilac: #c8a2c8,
  lilac-bush: #9874d3,
  lilac-luster: #ae98aa,
  lily: #c8aabf,
  lily-white: #e7f8ff,
  lima: #76bd17,
  lime: #bfff00,
  lime-green: #32cd32,
  limeade: #6f9d02,
  limed-ash: #747d63,
  limed-oak: #ac8a56,
  limed-spruce: #394851,
  limerick: #9dc209,
  lincoln-green: #195905,
  linen: #faf0e6,
  link-water: #d9e4f5,
  lipstick: #ab0563,
  lisbon-brown: #423921,
  little-boy-blue: #6ca0dc,
  liver: #674c47,
  liver-chestnut: #987456,
  livid-brown: #4d282e,
  loafer: #eef4de,
  loblolly: #bdc9ce,
  lochinvar: #2c8c84,
  lochmara: #007ec7,
  locust: #a8af8e,
  log-cabin: #242a1d,
  logan: #aaa9cd,
  lola: #dfcfdb,
  london-hue: #bea6c3,
  lonestar: #6d0101,
  lotus: #863c3c,
  loulou: #460b41,
  lucky: #af9f1c,
  lucky-point: #1a1a68,
  lumber: #ffe4cd,
  lunar-green: #3c493a,
  lust: #e62020,
  luxor-gold: #a7882c,
  lynch: #697e9a,
  msu-green: #18453b,
  mabel: #d9f7ff,
  macaroni-and-cheese: #ffbd88,
  macaroni-and-cheese: #ffb97b,
  madang: #b7f0be,
  madison: #09255d,
  madras: #3f3002,
  magenta: #ca1f7b,
  magenta-haze: #9f4576,
  magenta-pink: #cc338b,
  magic-mint: #aaf0d1,
  magic-potion: #ff4466,
  magnolia: #f8f4ff,
  mahogany: #c04000,
  mai-tai: #b06608,
  maize: #fbec5d,
  majorelle-blue: #6050dc,
  makara: #897d6d,
  mako: #444954,
  malachite: #0bda51,
  malibu: #7dc8f7,
  mallard: #233418,
  malta: #bdb2a1,
  mamba: #8e8190,
  manatee: #979aaa,
  mandalay: #ad781b,
  mandarin: #f37a48,
  mandy: #e25465,
  mandys-pink: #f2c3b2,
  mango-tango: #ff8243,
  manhattan: #f5c999,
  mantis: #74c365,
  mantle: #8b9c90,
  manz: #eeef78,
  mardi-gras: #880085,
  marigold: #eaa221,
  marigold-yellow: #fbe870,
  mariner: #286acd,
  maroon: #800000,
  maroon-oak: #520c17,
  marshland: #0b0f08,
  martini: #afa09e,
  martinique: #363050,
  marzipan: #f8db9d,
  masala: #403b38,
  matisse: #1b659d,
  matrix: #b05d54,
  matterhorn: #4e3b41,
  mauve: #e0b0ff,
  mauve-taupe: #915f6d,
  mauvelous: #ef98aa,
  maverick: #d8c2d5,
  maximum-blue: #47abcc,
  maximum-yellow: #fafa37,
  may-green: #4c9141,
  maya-blue: #73c2fb,
  meat-brown: #e5b73b,
  medium-aquamarine: #66ddaa,
  medium-blue: #0000cd,
  medium-candy-apple-red: #e2062c,
  medium-electric-blue: #035096,
  medium-jungle-green: #1c352d,
  medium-orchid: #ba55d3,
  medium-purple: #9370db,
  medium-red-violet: #bb3385,
  medium-ruby: #aa4069,
  medium-sea-green: #3cb371,
  medium-sky-blue: #80daeb,
  medium-slate-blue: #7b68ee,
  medium-spring-bud: #c9dc87,
  medium-spring-green: #00fa9a,
  medium-turquoise: #48d1cc,
  medium-vermilion: #d9603b,
  melanie: #e4c2d5,
  melanzane: #300529,
  mellow-apricot: #f8b878,
  melon: #fdbcb4,
  melrose: #c7c1ff,
  mercury: #e5e5e5,
  merino: #f6f0e6,
  merlin: #413c37,
  merlot: #831923,
  metal-pink: #ff00fd,
  metallic-bronze: #49371b,
  metallic-copper: #71291d,
  metallic-gold: #d4af37,
  metallic-seaweed: #0a7e8c,
  metallic-sunburst: #9c7c38,
  meteor: #d07d12,
  meteorite: #3c1f76,
  mexican-pink: #e4007c,
  mexican-red: #a72525,
  mid-gray: #5f5f6e,
  midnight: #702670,
  midnight-blue: #191970,
  midnight-moss: #041004,
  mikado: #2d2510,
  mikado-yellow: #ffc40c,
  milan: #faffa4,
  milano-red: #b81104,
  milk-punch: #fff6d4,
  millbrook: #594433,
  mimosa: #f8fdd3,
  mindaro: #e3f988,
  mine-shaft: #323232,
  mineral-green: #3f5d53,
  ming: #36747d,
  minion-yellow: #f5e050,
  minsk: #3f307f,
  mint: #3eb489,
  mint-cream: #f5fffa,
  mint-green: #98ff98,
  mint-julep: #f1eec1,
  mint-tulip: #c4f4eb,
  mirage: #161928,
  mischka: #d1d2dd,
  mist-gray: #c4c4bc,
  misty-moss: #bbb477,
  misty-rose: #ffe4e1,
  mobster: #7f7589,
  moccaccino: #6e1d14,
  moccasin: #ffe4b5,
  mocha: #782d19,
  mojo: #c04737,
  mona-lisa: #ffa194,
  monarch: #8b0723,
  mondo: #4a3c30,
  mongoose: #b5a27f,
  monsoon: #8a8389,
  monte-carlo: #83d0c6,
  monza: #c7031e,
  moody-blue: #7f76d3,
  moon-glow: #fcfeda,
  moon-mist: #dcddcc,
  moon-raker: #d6cef6,
  moonstone-blue: #73a9c2,
  mordant-red: #ae0c00,
  morning-glory: #9edee0,
  morocco-brown: #441d00,
  mortar: #504351,
  mosque: #036a6e,
  moss-green: #8a9a5b,
  mountain-meadow: #30ba8f,
  mountain-mist: #959396,
  mountbatten-pink: #997a8d,
  muddy-waters: #b78e5c,
  muesli: #aa8b5b,
  mughal-green: #306030,
  mulberry: #c54b8c,
  mulberry-wood: #5c0536,
  mule-fawn: #8c472f,
  mulled-wine: #4e4562,
  mummys-tomb: #828e84,
  munsell-blue: #0093af,
  munsell-green: #00a877,
  munsell-purple: #9f00c5,
  munsell-red: #f2003c,
  munsell-yellow: #efcc00,
  mustard: #ffdb58,
  my-pink: #d69188,
  my-sin: #ffb31f,
  myrtle-green: #317873,
  mystic: #d65282,
  mystic-maroon: #ad4379,
  ncs-blue: #0087bd,
  ncs-green: #009f6b,
  ncs-red: #c40233,
  nadeshiko-pink: #f6adc6,
  nandor: #4b5d52,
  napa: #aca494,
  napier-green: #2a8000,
  naples-yellow: #fada5e,
  narvik: #edf9f1,
  natural-gray: #8b8680,
  navajo-white: #ffdead,
  navy: #000080,
  nebula: #cbdbd6,
  negroni: #ffe2c5,
  neon-carrot: #ffa343,
  neon-fuchsia: #fe4164,
  neon-green: #39ff14,
  nepal: #8eabc1,
  neptune: #7cb7bb,
  nero: #140600,
  nevada: #646e75,
  new-car: #214fc6,
  new-orleans: #f3d69d,
  new-york-pink: #d7837f,
  niagara: #06a189,
  nickel: #727472,
  night-rider: #1f120f,
  night-shadz: #aa375a,
  nile-blue: #193751,
  nobel: #b7b1b1,
  nomad: #bab1a2,
  non-photo-blue: #a4dded,
  north-texas-green: #059033,
  norway: #a8bd9f,
  nugget: #c59922,
  nutmeg: #81422c,
  nutmeg-wood-finish: #683600,
  nyanza: #e9ffdb,
  oasis: #feefce,
  observatory: #02866f,
  ocean-blue: #4f42b5,
  ocean-boat-blue: #0077be,
  ocean-green: #48bf91,
  ochre: #cc7722,
  off-green: #e6f8f3,
  off-yellow: #fef9e3,
  ogre-odor: #fd5240,
  oil: #281e15,
  old-brick: #901e1e,
  old-burgundy: #43302e,
  old-copper: #724a2f,
  old-gold: #cfb53b,
  old-heliotrope: #563c5c,
  old-lace: #fdf5e6,
  old-lavender: #796878,
  old-moss-green: #867e36,
  old-rose: #c08081,
  old-silver: #848482,
  olive: #808000,
  olive-drab: #6b8e23,
  olive-drab-seven: #3c341f,
  olive-green: #b5b35c,
  olive-haze: #8b8470,
  olivetone: #716e10,
  olivine: #9ab973,
  onahau: #cdf4ff,
  onion: #2f270e,
  onyx: #353839,
  opal: #a9c6c2,
  opera-mauve: #b784a7,
  opium: #8e6f70,
  oracle: #377475,
  orange: #ff7f00,
  orange-peel: #ff9f00,
  orange-red: #ff4500,
  orange-roughy: #c45719,
  orange-soda: #fa5b3d,
  orange-white: #fefced,
  orange-yellow: #f8d568,
  orchid: #da70d6,
  orchid-pink: #f2bdcd,
  orchid-white: #fffdf3,
  oregon: #9b4703,
  organ: #6c2e1f,
  orient: #015e85,
  oriental-pink: #c69191,
  orinoco: #f3fbd4,
  orioles-orange: #fb4f14,
  oslo-gray: #878d91,
  ottoman: #e9f8ed,
  outer-space: #414a4c,
  outrageous-orange: #ff6e4a,
  oxford-blue: #002147,
  oxley: #779e86,
  oyster-bay: #dafaff,
  oyster-pink: #e9cecd,
  paarl: #a65529,
  pablo: #776f61,
  pacific-blue: #1ca9c9,
  pacifika: #778120,
  paco: #411f10,
  padua: #ade6c4,
  pakistan-green: #006600,
  palatinate-blue: #273be2,
  palatinate-purple: #682860,
  pale-brown: #987654,
  pale-canary: #ffff99,
  pale-carmine: #af4035,
  pale-cerulean: #9bc4e2,
  pale-chestnut: #ddadaf,
  pale-copper: #da8a67,
  pale-cornflower-blue: #abcdef,
  pale-cyan: #87d3f8,
  pale-gold: #e6be8a,
  pale-goldenrod: #eee8aa,
  pale-green: #98fb98,
  pale-lavender: #dcd0ff,
  pale-leaf: #c0d3b9,
  pale-magenta: #f984e5,
  pale-magenta-pink: #ff99cc,
  pale-oyster: #988d77,
  pale-pink: #fadadd,
  pale-plum: #dda0dd,
  pale-prim: #fdfeb8,
  pale-red-violet: #db7093,
  pale-robin-egg-blue: #96ded1,
  pale-rose: #ffe1f2,
  pale-silver: #c9c0bb,
  pale-sky: #6e7783,
  pale-slate: #c3bfc1,
  pale-spring-bud: #ecebbd,
  pale-taupe: #bc987e,
  pale-violet: #cc99ff,
  palm-green: #09230f,
  palm-leaf: #19330e,
  pampas: #f4f2ee,
  panache: #eaf6ee,
  pancho: #edcdab,
  pansy-purple: #78184a,
  pantone-blue: #0018a8,
  pantone-green: #00ad43,
  pantone-magenta: #d0417e,
  pantone-orange: #ff5800,
  pantone-pink: #d74894,
  pantone-yellow: #fedf00,
  paolo-veronese-green: #009b7d,
  papaya-whip: #ffefd5,
  paprika: #8d0226,
  paradise-pink: #e63e62,
  paradiso: #317d82,
  parchment: #f1e9d2,
  paris-daisy: #fff46e,
  paris-m: #26056a,
  paris-white: #cadcd4,
  parsley: #134f19,
  pastel-blue: #aec6cf,
  pastel-brown: #836953,
  pastel-gray: #cfcfc4,
  pastel-green: #77dd77,
  pastel-magenta: #f49ac2,
  pastel-orange: #ffb347,
  pastel-pink: #dea5a4,
  pastel-purple: #b39eb5,
  pastel-red: #ff6961,
  pastel-violet: #cb99c9,
  pastel-yellow: #fdfd96,
  patina: #639a8f,
  pattens-blue: #def5ff,
  paua: #260368,
  pavlova: #d7c498,
  paynes-grey: #536878,
  peach: #ffcba4,
  peach-cream: #fff0db,
  peach-orange: #ffcc99,
  peach-puff: #ffdab9,
  peach-schnapps: #ffdcd6,
  peach-yellow: #fadfad,
  peanut: #782f16,
  pear: #d1e231,
  pearl: #eae0c8,
  pearl-aqua: #88d8c0,
  pearl-bush: #e8e0d5,
  pearl-lusta: #fcf4dc,
  pearl-mystic-turquoise: #32c6a6,
  pearly-purple: #b768a2,
  peat: #716b56,
  pelorous: #3eabbf,
  peppermint: #e3f5e1,
  perano: #a9bef2,
  perfume: #d0bef8,
  peridot: #e6e200,
  periglacial-blue: #e1e6d6,
  periwinkle: #ccccff,
  periwinkle-gray: #c3cde6,
  permanent-geranium-lake: #e12c2c,
  persian-blue: #1c39bb,
  persian-green: #00a693,
  persian-indigo: #32127a,
  persian-orange: #d99058,
  persian-pink: #f77fbe,
  persian-plum: #701c1c,
  persian-red: #cc3333,
  persian-rose: #fe28a2,
  persimmon: #ec5800,
  peru: #cd853f,
  peru-tan: #7f3a02,
  pesto: #7c7631,
  petite-orchid: #db9690,
  pewter: #96a8a1,
  pewter-blue: #8ba8b7,
  pharlap: #a3807b,
  phthalo-blue: #000f89,
  phthalo-green: #123524,
  picasso: #fff39d,
  pickled-bean: #6e4826,
  pickled-bluewood: #314459,
  picton-blue: #45b1e8,
  pictorial-carmine: #c30b4e,
  pig-pink: #fdd7e4,
  pigeon-post: #afbdd9,
  piggy-pink: #fddde6,
  pigment-blue: #333399,
  pigment-green: #00a550,
  pigment-red: #ed1c24,
  pine-cone: #6d5e54,
  pine-glade: #c7cd90,
  pine-green: #01796f,
  pine-tree: #171f04,
  pink: #ffc0cb,
  pink-flamingo: #fc74fd,
  pink-flare: #e1c0c8,
  pink-lace: #ffddf4,
  pink-lady: #fff1d8,
  pink-lavender: #d8b2d1,
  pink-orange: #ff9966,
  pink-pearl: #e7accf,
  pink-raspberry: #980036,
  pink-sherbet: #f78fa7,
  pink-swan: #beb5b7,
  piper: #c96323,
  pipi: #fef4cc,
  pippin: #ffe1df,
  pirate-gold: #ba7f03,
  pistachio: #93c572,
  pixie-green: #c0d8b6,
  pixie-powder: #391285,
  pizazz: #ff9000,
  pizza: #c99415,
  plantation: #27504b,
  platinum: #e5e4e2,
  plum: #8e4585,
  plump-purple: #5946b2,
  pohutukawa: #8f021c,
  polar: #e5f9f6,
  polished-pine: #5da493,
  polo-blue: #8da8cc,
  pomegranate: #f34723,
  pompadour: #660045,
  popstar: #be4f62,
  porcelain: #eff2f3,
  porsche: #eaae69,
  port-gore: #251f4f,
  portafino: #ffffb4,
  portage: #8b9fee,
  portica: #f9e663,
  portland-orange: #ff5a36,
  pot-pourri: #f5e7e2,
  potters-clay: #8c5738,
  powder-ash: #bcc9c2,
  powder-blue: #b0e0e6,
  prairie-sand: #9a3820,
  prelude: #d0c0e5,
  prim: #f0e2ec,
  primrose: #edea99,
  princess-perfume: #ff85cf,
  princeton-orange: #f58025,
  process-cyan: #00b7eb,
  process-magenta: #ff0090,
  provincial-pink: #fef5f1,
  prussian-blue: #003153,
  psychedelic-purple: #df00ff,
  puce: #cc8899,
  pueblo: #7d2c14,
  puerto-rico: #3fc1aa,
  pullman-brown: #644117,
  pullman-green: #3b331c,
  pumice: #c2cac4,
  pumpkin: #ff7518,
  pumpkin-skin: #b1610b,
  punch: #dc4333,
  punga: #4d3d14,
  purple: #800080,
  purple-heart: #69359c,
  purple-mountain-majesty: #9678b6,
  purple-navy: #4e5180,
  purple-pizzazz: #fe4eda,
  purple-plum: #9c51b6,
  purple-taupe: #50404d,
  purpureus: #9a4eae,
  putty: #e7cd8c,
  quarter-pearl-lusta: #fffdf4,
  quarter-spanish-white: #f7f2e1,
  quartz: #51484f,
  queen-blue: #436b95,
  queen-pink: #e8ccd7,
  quick-silver: #a6a6a6,
  quicksand: #bd978e,
  quill-gray: #d6d6d1,
  quinacridone-magenta: #8e3a59,
  quincy: #623f2d,
  ryb-blue: #0247fe,
  ryb-green: #66b032,
  ryb-orange: #fb9902,
  ryb-red: #fe2712,
  ryb-violet: #8601af,
  ryb-yellow: #fefe33,
  racing-green: #0c1911,
  radical-red: #ff355e,
  raffia: #eadab8,
  rainee: #b9c8ac,
  raisin-black: #242124,
  rajah: #fbab60,
  rangitoto: #2e3222,
  rangoon-green: #1c1e13,
  raspberry: #e30b5d,
  raspberry-pink: #e25098,
  raven: #727b89,
  raw-sienna: #d68a59,
  raw-umber: #826644,
  razzle-dazzle-rose: #ff33cc,
  razzmatazz: #e3256b,
  razzmic-berry: #8d4e85,
  rebecca-purple: #663399,
  rebel: #3c1206,
  red: #ff0000,
  red-beech: #7b3801,
  red-berry: #8e0000,
  red-damask: #da6a41,
  red-devil: #860111,
  red-orange: #ff5349,
  red-oxide: #6e0902,
  red-purple: #e40078,
  red-ribbon: #ed0a3f,
  red-robin: #80341f,
  red-salsa: #fd3a4a,
  red-stage: #d05f04,
  red-violet: #c71585,
  redwood: #a45a52,
  reef: #c9ffa2,
  reef-gold: #9f821c,
  regal-blue: #013f6a,
  regalia: #522d80,
  regent-gray: #86949f,
  regent-st-blue: #aad6e6,
  remy: #feebf3,
  reno-sand: #a86515,
  resolution-blue: #002387,
  revolver: #2c1632,
  rhino: #2e3f62,
  rhythm: #777696,
  rice-cake: #fffef0,
  rice-flower: #eeffe2,
  rich-black: #004040,
  rich-brilliant-lavender: #f1a7fe,
  rich-carmine: #d70040,
  rich-electric-blue: #0892d0,
  rich-gold: #a85307,
  rich-lavender: #a76bcf,
  rich-lilac: #b666d2,
  rich-maroon: #b03060,
  rifle-green: #444c38,
  rio-grande: #bbd009,
  ripe-lemon: #f4d81c,
  ripe-plum: #410056,
  riptide: #8be6d8,
  river-bed: #434c59,
  roast-coffee: #704241,
  rob-roy: #eac674,
  robin-egg-blue: #00cccc,
  rock: #4d3833,
  rock-blue: #9eb1cd,
  rock-spray: #ba450c,
  rocket-metallic: #8a7f80,
  rodeo-dust: #c9b29b,
  rolling-stone: #747d83,
  roman: #de6360,
  roman-coffee: #795d4c,
  roman-silver: #838996,
  romance: #fffefd,
  romantic: #ffd2b7,
  ronchi: #ecc54e,
  roof-terracotta: #a62f20,
  rope: #8e4d1e,
  rose: #ff007f,
  rose-bonbon: #f9429e,
  rose-bud: #fbb2a3,
  rose-bud-cherry: #800b47,
  rose-dust: #9e5e6f,
  rose-ebony: #674846,
  rose-fog: #e7bcb4,
  rose-gold: #b76e79,
  rose-pink: #ff66cc,
  rose-red: #c21e56,
  rose-taupe: #905d5d,
  rose-vale: #ab4e52,
  rose-white: #fff6f5,
  rose-of-sharon: #bf5500,
  rosewood: #65000b,
  rosso-corsa: #d40000,
  rosy-brown: #bc8f8f,
  roti: #c6a84b,
  rouge: #a23b6c,
  royal-air-force-blue: #5d8aa8,
  royal-azure: #0038a8,
  royal-blue: #4169e1,
  royal-fuchsia: #ca2c92,
  royal-heath: #ab3472,
  royal-purple: #7851a9,
  ruber: #ce4676,
  rubine-red: #d10056,
  ruby: #e0115f,
  ruby-red: #9b111e,
  ruddy: #ff0028,
  ruddy-brown: #bb6528,
  ruddy-pink: #e18e96,
  rufous: #a81c07,
  rum: #796989,
  rum-swizzle: #f9f8e4,
  russet: #80461b,
  russett: #755a57,
  russian-green: #679267,
  russian-violet: #32174d,
  rust: #b7410e,
  rustic-red: #480404,
  rusty-nail: #86560a,
  rusty-red: #da2c43,
  sae-ece-amber: #ff7e00,
  sacramento-state-green: #043927,
  saddle: #4c3024,
  saddle-brown: #8b4513,
  safety-orange: #ff7800,
  safety-yellow: #eed202,
  saffron: #f4c430,
  saffron-mango: #f9bf58,
  sage: #bcb88a,
  sahara: #b7a214,
  sahara-sand: #f1e788,
  sail: #b8e0f9,
  salem: #097f4b,
  salmon: #fa8072,
  salmon-pink: #ff91a4,
  salomie: #fedb8d,
  salt-box: #685e6e,
  saltpan: #f1f7f2,
  sambuca: #3a2010,
  san-felix: #0b6207,
  san-juan: #304b6a,
  san-marino: #456cac,
  sand-dune: #967117,
  sandal: #aa8d6f,
  sandrift: #ab917a,
  sandstone: #796d62,
  sandstorm: #ecd540,
  sandwisp: #f5e7a2,
  sandy-beach: #ffeac8,
  sandy-brown: #f4a460,
  sangria: #92000a,
  sanguine-brown: #8d3d38,
  santa-fe: #b16d52,
  santas-gray: #9fa0b1,
  sap-green: #507d2a,
  sapling: #ded4a4,
  sapphire: #0f52ba,
  sapphire-blue: #0067a5,
  saratoga: #555b10,
  sasquatch-socks: #ff4681,
  satin-linen: #e6e4d4,
  satin-sheen-gold: #cba135,
  sauvignon: #fff5f3,
  sazerac: #fff4e0,
  scampi: #675fa6,
  scandal: #cffaf4,
  scarlet: #ff2400,
  scarlet-gum: #431560,
  scarlett: #950015,
  scarpa-flow: #585562,
  schist: #a9b497,
  school-bus-yellow: #ffd800,
  schooner: #8b847e,
  science-blue: #0066cc,
  scooter: #2ebfd4,
  scorpion: #695f62,
  scotch-mist: #fffbdc,
  screamin-green: #66ff66,
  sea-blue: #006994,
  sea-buckthorn: #fba129,
  sea-green: #2e8b57,
  sea-mist: #c5dbca,
  sea-nymph: #78a39c,
  sea-pink: #ed989e,
  sea-serpent: #4bc7cf,
  seagull: #80ccea,
  seal-brown: #59260b,
  seance: #731e8f,
  seashell: #fff5ee,
  seaweed: #1b2f11,
  selago: #f0eefd,
  selective-yellow: #ffba00,
  sepia: #704214,
  sepia-black: #2b0202,
  sepia-skin: #9e5b40,
  serenade: #fff4e8,
  shadow: #8a795d,
  shadow-blue: #778ba5,
  shadow-green: #9ac2b8,
  shady-lady: #aaa5a9,
  shakespeare: #4eabd1,
  shalimar: #fbffba,
  shampoo: #ffcff1,
  shamrock: #33cc99,
  shamrock-green: #009e60,
  shark: #25272c,
  sheen-green: #8fd400,
  sherpa-blue: #004950,
  sherwood-green: #02402c,
  shilo: #e8b9b3,
  shimmering-blush: #d98695,
  shingle-fawn: #6b4e31,
  shiny-shamrock: #5fa778,
  ship-cove: #788bba,
  ship-gray: #3e3a44,
  shiraz: #b20931,
  shocking: #e292c0,
  shocking-pink: #fc0fc0,
  shuttle-gray: #5f6672,
  siam: #646a54,
  sidecar: #f3e7bb,
  sienna: #882d17,
  silk: #bdb1a8,
  silver: #c0c0c0,
  silver-chalice: #acacac,
  silver-lake-blue: #5d89ba,
  silver-pink: #c4aead,
  silver-sand: #bfc1c2,
  silver-tree: #66b58f,
  sinbad: #9fd7d3,
  sinopia: #cb410b,
  siren: #7a013a,
  sirocco: #718080,
  sisal: #d3cbba,
  sizzling-red: #ff3855,
  sizzling-sunrise: #ffdb00,
  skeptic: #cae6da,
  skobeloff: #007474,
  sky-blue: #87ceeb,
  sky-magenta: #cf71af,
  slate-blue: #6a5acd,
  slate-gray: #708090,
  slimy-green: #299617,
  smalt: #003399,
  smalt-blue: #51808f,
  smashed-pumpkin: #ff6d3a,
  smitten: #c84186,
  smoke: #738276,
  smokey-topaz: #832a0d,
  smoky: #605b73,
  smoky-black: #100c08,
  smoky-topaz: #933d41,
  snow: #fffafa,
  snow-drift: #f7faf7,
  snow-flurry: #e4ffd1,
  snowy-mint: #d6ffdb,
  snuff: #e2d8ed,
  soap: #cec8ef,
  soapstone: #fffbf9,
  soft-amber: #d1c6b4,
  soft-peach: #f5edef,
  solid-pink: #893843,
  solitaire: #fef8e2,
  solitude: #eaf6ff,
  sonic-silver: #757575,
  sorbus: #fd7c07,
  sorrell-brown: #ceb98f,
  soya-bean: #6a6051,
  space-cadet: #1d2951,
  spanish-bistre: #807532,
  spanish-blue: #0070b8,
  spanish-carmine: #d10047,
  spanish-crimson: #e51a4c,
  spanish-gray: #989898,
  spanish-green: #009150,
  spanish-orange: #e86100,
  spanish-pink: #f7bfbe,
  spanish-red: #e60026,
  spanish-sky-blue: #00aae4,
  spanish-violet: #4c2882,
  spanish-viridian: #007f5c,
  spartan-crimson: #9e1316,
  spectra: #2f5a57,
  spice: #6a442e,
  spicy-mix: #8b5f4d,
  spicy-mustard: #74640d,
  spicy-pink: #816e71,
  spindle: #b6d1ea,
  spiro-disco-ball: #0fc0fc,
  spray: #79deec,
  spring-bud: #a7fc00,
  spring-frost: #87ff2a,
  spring-green: #00ff7f,
  spring-leaves: #578363,
  spring-rain: #accbb1,
  spring-sun: #f6ffdc,
  spring-wood: #f8f6f1,
  sprout: #c1d7b0,
  spun-pearl: #aaabb7,
  squirrel: #8f8176,
  st-patricks-blue: #23297a,
  st-tropaz: #2d569b,
  stack: #8a8f8a,
  star-command-blue: #007bb8,
  star-dust: #9f9f9c,
  stark-white: #e5d7bd,
  starship: #ecf245,
  steel-blue: #4682b4,
  steel-gray: #262335,
  steel-pink: #cc33cc,
  steel-teal: #5f8a8b,
  stiletto: #9c3336,
  stonewall: #928573,
  storm-dust: #646463,
  storm-gray: #717486,
  stormcloud: #4f666a,
  stratos: #000741,
  straw: #e4d96f,
  strawberry: #fc5a8d,
  strikemaster: #956387,
  stromboli: #325d52,
  studio: #714ab2,
  submarine: #bac7c9,
  sugar-cane: #f9fff6,
  sugar-plum: #914e75,
  sulu: #c1f07c,
  summer-green: #96bbab,
  sun: #fbac13,
  sunburnt-cyclops: #ff404c,
  sundance: #c9b35b,
  sundown: #ffb1b3,
  sunflower: #e4d422,
  sunglo: #e16865,
  sunglow: #ffcc33,
  sunny: #f2f27a,
  sunray: #e3ab57,
  sunset: #fad6a5,
  sunset-orange: #fd5e53,
  sunshade: #ff9e2c,
  super-pink: #cf6ba9,
  supernova: #ffc901,
  surf: #bbd7c1,
  surf-crest: #cfe5d2,
  surfie-green: #0c7a79,
  sushi: #87ab39,
  suva-gray: #888387,
  swamp: #001b1c,
  swamp-green: #acb78e,
  swans-down: #dcf0ea,
  sweet-brown: #a83731,
  sweet-corn: #fbea8c,
  sweet-pink: #fd9fa2,
  swirl: #d3cdc5,
  swiss-coffee: #ddd6d5,
  sycamore: #908d39,
  tabasco: #a02712,
  tacao: #edb381,
  tacha: #d6c562,
  tahiti-gold: #e97c07,
  tahuna-sands: #eef0c8,
  tall-poppy: #b32d29,
  tallow: #a8a589,
  tamarillo: #991613,
  tamarind: #341515,
  tan: #d2b48c,
  tan-hide: #fa9d5a,
  tana: #d9dcc1,
  tangaroa: #03163c,
  tangelo: #f94d00,
  tangerine: #f28500,
  tangerine-yellow: #ffcc00,
  tango: #ed7a1c,
  tango-pink: #e4717a,
  tapa: #7b7874,
  tapestry: #b05e81,
  tara: #e1f6e8,
  tarawera: #073a50,
  tart-orange: #fb4d46,
  tasman: #cfdccf,
  taupe: #483c32,
  taupe-gray: #8b8589,
  tawny-port: #692545,
  te-papa-green: #1e433c,
  tea: #c1bab0,
  tea-green: #d0f0c0,
  tea-rose: #f4c2c2,
  teak: #b19461,
  teal: #008080,
  teal-blue: #367588,
  teal-deer: #99e6b3,
  teal-green: #00827f,
  telemagenta: #cf3476,
  temptress: #3b000b,
  tenne: #cd5700,
  tequila: #ffe6c7,
  terra-cotta: #e2725b,
  texas: #f8f99c,
  texas-rose: #ffb555,
  thatch: #b69d98,
  thatch-green: #403d19,
  thistle: #d8bfd8,
  thistle-green: #cccaa8,
  thulian-pink: #de6fa1,
  thunder: #33292f,
  thunderbird: #c02b18,
  tia-maria: #c1440e,
  tiara: #c3d1d1,
  tiber: #063537,
  tickle-me-pink: #fc89ac,
  tidal: #f1ffad,
  tide: #bfb8b0,
  tiffany-blue: #0abab5,
  tigers-eye: #e08d3c,
  timber-green: #16322c,
  timberwolf: #dbd7d2,
  titan-white: #f0eeff,
  titanium-yellow: #eee600,
  toast: #9a6e61,
  tobacco-brown: #715d47,
  toledo: #3a0020,
  tolopea: #1b0245,
  tom-thumb: #3f583b,
  tomato: #ff6347,
  tonys-pink: #e79f8c,
  toolbox: #746cc0,
  topaz: #ffc87c,
  torea-bay: #0f2d9e,
  tory-blue: #1450aa,
  tosca: #8d3f3f,
  totem-pole: #991b07,
  tower-gray: #a9bdbf,
  tractor-red: #fd0e35,
  tradewind: #5fb3ac,
  tranquil: #e6ffff,
  travertine: #fffde8,
  tree-poppy: #fc9c1d,
  treehouse: #3b2820,
  trendy-green: #7c881a,
  trendy-pink: #8c6495,
  trinidad: #e64e03,
  tropical-blue: #c3ddf9,
  tropical-rain-forest: #00755e,
  tropical-violet: #cda4de,
  trout: #4a4e5a,
  true-blue: #0073cf,
  true-v: #8a73d6,
  tuatara: #363534,
  tuft-bush: #ffddcd,
  tufts-blue: #417dc1,
  tulip: #ff878d,
  tulip-tree: #eab33b,
  tumbleweed: #deaa88,
  tuna: #353542,
  tundora: #4a4244,
  turbo: #fae600,
  turkish-rose: #b57281,
  turmeric: #cabb48,
  turquoise: #40e0d0,
  turquoise-blue: #00ffef,
  turquoise-green: #a0d6b4,
  turtle-green: #2a380b,
  tuscan-red: #7c4848,
  tuscan-tan: #a67b5b,
  tuscany: #c09999,
  tusk: #eef3c3,
  tussock: #c5994b,
  tutu: #fff1f9,
  twilight: #e4cfde,
  twilight-blue: #eefdff,
  twilight-lavender: #8a496b,
  twine: #c2955d,
  tyrian-purple: #66023c,
  ua-blue: #0033aa,
  ua-red: #d9004c,
  ucla-blue: #536895,
  ucla-gold: #ffb300,
  ufo-green: #3cd070,
  up-forest-green: #014421,
  up-maroon: #7b1113,
  usafa-blue: #004f98,
  ube: #8878c3,
  ultra-pink: #ff6fff,
  ultramarine: #3f00ff,
  ultramarine-blue: #4166f5,
  umber: #635147,
  unbleached-silk: #ffddca,
  underage-pink: #f9e6f4,
  united-nations-blue: #5b92e5,
  university-of-california-gold: #b78727,
  university-of-tennessee-orange: #f77f00,
  unmellow-yellow: #ffff66,
  upsdell-red: #ae2029,
  urobilin: #e1ad21,
  utah-crimson: #d3003f,
  valencia: #d84437,
  valentino: #350e42,
  valhalla: #2b194f,
  van-cleef: #49170c,
  van-dyke-brown: #664228,
  vanilla: #f3e5ab,
  vanilla-ice: #f38fa9,
  varden: #fff6df,
  vegas-gold: #c5b358,
  venetian-red: #c80815,
  venice-blue: #055989,
  venus: #928590,
  verdigris: #43b3ae,
  verdun-green: #495400,
  vermilion: #d9381e,
  veronica: #a020f0,
  very-light-azure: #74bbfb,
  very-light-blue: #6666ff,
  very-light-malachite-green: #64e986,
  very-light-tangelo: #ffb077,
  very-pale-orange: #ffdfbf,
  very-pale-yellow: #ffffbf,
  vesuvius: #b14a0b,
  victoria: #534491,
  vida-loca: #549019,
  viking: #64ccdb,
  vin-rouge: #983d61,
  viola: #cb8fa9,
  violent-violet: #290c5e,
  violet: #7f00ff,
  violet-blue: #324ab2,
  violet-eggplant: #991199,
  violet-red: #f75394,
  viridian: #40826d,
  viridian-green: #009698,
  vis-vis: #ffefa1,
  vista-blue: #7c9ed9,
  vista-white: #fcf8f7,
  vivid-amber: #cc9900,
  vivid-auburn: #922724,
  vivid-burgundy: #9f1d35,
  vivid-cerise: #da1d81,
  vivid-cerulean: #00aaee,
  vivid-crimson: #cc0033,
  vivid-gamboge: #ff9900,
  vivid-lime-green: #a6d608,
  vivid-malachite: #00cc33,
  vivid-mulberry: #b80ce3,
  vivid-orange: #ff5f00,
  vivid-orange-peel: #ffa000,
  vivid-orchid: #cc00ff,
  vivid-raspberry: #ff006c,
  vivid-red: #f70d1a,
  vivid-red-tangelo: #df6124,
  vivid-sky-blue: #00ccff,
  vivid-tangelo: #f07427,
  vivid-tangerine: #ffa089,
  vivid-vermilion: #e56024,
  vivid-violet: #9f00ff,
  vivid-yellow: #ffe302,
  volt: #ceff00,
  voodoo: #533455,
  vulcan: #10121d,
  wafer: #decbc6,
  waikawa-gray: #5a6e9c,
  waiouru: #363c0d,
  walnut: #773f1a,
  warm-black: #004242,
  wasabi: #788a25,
  water-leaf: #a1e9de,
  watercourse: #056f57,
  waterloo: #7b7c94,
  waterspout: #a4f4f9,
  wattle: #dcd747,
  watusi: #ffddcf,
  wax-flower: #ffc0a8,
  we-peep: #f7dbe6,
  web-chartreuse: #7fff00,
  web-orange: #ffa500,
  wedgewood: #4e7f9e,
  weldon-blue: #7c98ab,
  well-read: #b43332,
  wenge: #645452,
  west-coast: #625119,
  west-side: #ff910f,
  westar: #dcd9d2,
  wewak: #f19bab,
  wheat: #f5deb3,
  wheatfield: #f3edcf,
  whiskey: #d59a6f,
  whisper: #f7f5fa,
  white: #ffffff,
  white-ice: #ddf9f1,
  white-lilac: #f8f7fc,
  white-linen: #f8f0e8,
  white-pointer: #fef8ff,
  white-rock: #eae8d4,
  white-smoke: #f5f5f5,
  wild-blue-yonder: #a2add0,
  wild-orchid: #d470a2,
  wild-rice: #ece090,
  wild-sand: #f4f4f4,
  wild-strawberry: #ff43a4,
  wild-watermelon: #fc6c85,
  wild-willow: #b9c46a,
  william: #3a686c,
  willow-brook: #dfecda,
  willow-grove: #65745d,
  willpower-orange: #fd5800,
  windsor: #3c0878,
  windsor-tan: #a75502,
  wine: #722f37,
  wine-berry: #591d35,
  wine-dregs: #673147,
  winter-hazel: #d5d195,
  winter-sky: #ff007c,
  winter-wizard: #a0e6ff,
  wintergreen-dream: #56887d,
  wisp-pink: #fef4f8,
  wisteria: #c9a0dc,
  wistful: #a4a6d3,
  witch-haze: #fffc99,
  wood-bark: #261105,
  woodland: #4d5328,
  woodrush: #302a0f,
  woodsmoke: #0c0d0f,
  woody-brown: #483131,
  x-11-dark-green: #006400,
  x-11-gray: #bebebe,
  xanadu: #738678,
  yale-blue: #0f4d92,
  yankees-blue: #1c2841,
  yellow: #ffff00,
  yellow-green: #9acd32,
  yellow-metal: #716338,
  yellow-orange: #ffae42,
  yellow-rose: #fff000,
  yellow-sea: #fea904,
  your-pink: #ffc3c0,
  yukon-gold: #7b6608,
  yuma: #cec291,
  zaffre: #0014a8,
  zambezi: #685558,
  zanah: #daecd6,
  zest: #e5841b,
  zeus: #292319,
  ziggurat: #bfdbe2,
  zinnwaldite: #ebc2af,
  zinnwaldite-brown: #2c1608,
  zircon: #f4f8ff,
  zombie: #e4d69b,
  zomp: #39a78e,
  zorba: #a59b91,
  zuccini: #044022,
  zumthor: #edf6ff
);
@function color($key) {
  @if map-has_key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors";
  @return null;
}
